/* Footer START */
.footer_bg{
    height: 200px;
    background-color: rgba(128, 128, 128, 0.151);
    margin-top: 50px;
}
.footer_content p{
    padding-top: 25px;
}
.footer_content i{
    font-size: 50px;
    padding: 25px 10px;
    margin-left: 15px;
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: black;
    color: white;
    transition: 1s;
}
.footer_content i:hover{
    background-color: white;
    color: black;
    border-color: white;
    transition: 1s;
}